<div class="user-form">
    <div style="text-align:center; text-decoration:underline; padding-right:32em;">
      <dt>
	    <span id="caption_subject">Post Topic:</span>
      </dt>
    </div>

    <div style="padding-right: 15.5em;">
        <textarea id="postTitle" span contenteditable="true" style="border solid 1px black; width:350px; min-width:350px; height:30px; min-height:30px; background-color: aliceblue; margin:auto; display:block;"
            placeholder="Topic Title" type="text"></textarea>
    </div>
    {{!-- <textarea id="placehoder: Type Post">Type Post</textarea> --}} 

  <div>
    <div style="text-align:center; text-decoration:underline; padding-right:30.5em;">
      <dt>
	    <span id="caption_subject">Post Message:</span>
      </dt>
    </div>

    <div>
    <textarea id="postContent" span contenteditable="true" style="border solid 1px black; min-width:600px; min-height:200px; background-color: aliceblue; margin:auto; display:block;"
        placeholder="Type Message" type="text"></textarea>
    </div>

    <div style="text-align:center; margin-top:5px; margin-bottom:5px; padding-right:29.5em;">
        <button type="submit" class="btn btn-primary send-post-btn"> Post Message </button> 
    </div>
</div>

{{#each posts as |post|}}
<div class="card approved-user-post" style="width: vw -50px; ;">

    <div class="card-body">
        <h3 class="card-title">{{post.postTitle}}</h3>
        <h6>Created: {{format_date post.dateCreated}}</h6>
        <p class="card-text">
        <div class="card" style="width: vw -50px;;">
            <div class="card-body">
                <h5 class="card-title">From Anonymous:</h5>
                <p class="card-text">{{post.postContent}}</p>
            </div>
        </div>
        </p>
        <h6 class="card-title">Moderator response to Anonymous:</h6>
        <p class="card-text">{{post.responseContent}}</p>
        {{!-- <a href="#" class="btn btn-primary">Back to top</a> --}}
    </div>
</div>
{{/each}}

<a href="#" class="btn btn-sticky">Back to top</a>

<script src="/gsap/gsap.min.js"></script>
<script src="/js/homepage.js"></script>