{{!-- 
Not full HTML document -- just used for generating: 

Contains greeting and boiler plate post code

we'll have an "each" statement that will generate our posts 

 --}}
 <!DOCTYPE html>
<html>
<head>

</head>
<body>
    this is an html file
</body>
</html>