<div class="user-form">
    <div class="post-topic-title-div">
        <dt>
            <span id="caption_subject">Post Topic:</span>
        </dt>
    </div>

    <div class="post-title-div">
        <textarea id="postTitle" span contenteditable="true" placeholder="Topic Title" type="text"></textarea>
    </div>
    {{!-- <textarea id="placehoder: Type Post">Type Post</textarea> --}}

    <div>
        <div class="post-message-div">
            <dt>
                <span id="caption_subject">Post Message:</span>
            </dt>
        </div>

        <div>
            <textarea id="postContent" span contenteditable="true" placeholder="Type Message" type="text"></textarea>
        </div>

        <div class="submit-btn-div">
            <button type="submit" class="btn btn-primary send-post-btn"> Post Message </button>
        </div>
    </div>

    {{#each posts as |post|}}
    <div class="card approved-user-post">

        <div class="card-body">
            <h3 class="card-title">{{post.postTitle}}</h3>
            <h6>Created: {{format_date post.dateCreated}}</h6>
            <p class="card-text">
            <div class="card user-post-div">
                <div class="card-body">
                    <h5 class="card-title">From Anonymous:</h5>
                    <p class="card-text">{{post.postContent}}</p>
                </div>
            </div>
            </p>
            <h6 class="card-title">Moderator response to Anonymous:</h6>
            <p class="card-text">{{post.responseContent}}</p>
            {{!-- <a href="#" class="btn btn-primary">Back to top</a> --}}
        </div>
    </div>
    {{/each}}

    <a href="#" class="btn btn-sticky">Back to top</a>

    <script src="/gsap/gsap.min.js"></script>
    <script src="/js/homepage.js"></script>