
{{#each posts as |post|}}
<div class="card" style="width: vw -50px; ;">

    <div class="card-body">
        <h3 class="card-title">{{post.postTitle}}</h3>
        <h6>Created: {{format_date post.dateCreated}}</h6>
        <p class="card-text">
        <div class="card" style="width: vw -50px;;">
            <div class="card-body">
                <h5 class="card-title">From Anonymous:</h5>
                <p class="card-text">{{post.postContent}}</p>
            </div>
        </div>
        </p>
        <h6 class="card-title">Moderator response to Anonymous:</h6>
        <p class="card-text">{{post.responseContent}}</p>
        {{!-- <a href="#" class="btn btn-primary">Back to top</a> --}}
    </div>
</div>
{{/each}}

<a href="#" class="btn btn-sticky">Back to top</a>

<script src="/js/homepage.js"></script>