<div>
    <textbox id="anonymous" style="background-color:powderblue;">
<<<<<<< HEAD
        <input id="postTitle" row="20" col="230" value="SUBJECT: {{singleUserPost.title}}"></input>
        <textarea id="postContent">{{singleUserPost.content}}</textarea>
=======
        <input id="" row="auto" col="50" value="SUBJECT: {{singleUserPost.title}}"></input>
        <textarea id="">{{singleUserPost.content}}</textarea>
>>>>>>> bf5c7fdb9d85d676eb8eec6f96b8618f5fb601de
    </textbox>

    <textarea id="responseContent" rows="20" cols="230" style="background-color: aliceblue;"
        placeholder="Type Moderator Response" type="text"></textarea>
    <input type="submit" id="newApprovedUserPostSubmit">
</div>

<script src="/js/moderator.js"></script>