<div>
    <div style="text-align:center; text-decoration:underline; padding-right:32em;">
        <dt>
            <span id="caption_subject">Edit Subject:</span>
        </dt>
    </div>
    <div style="padding-right: 15.5em;">
        <textarea id="postTitle" span contenteditable="true"
            style="border solid 1px black; width:350px; min-width:350px; height:30px; min-height:30px; background-color: aliceblue; margin:auto; display:block;"
            placeholder="Topic Title" type="text">{{singleUserPost.title}}</textarea>
    </div>
    {{!-- <textarea id="placehoder: Type Post">Type Post</textarea> --}}
    <div>
        <div style="text-align:center; text-decoration:underline; padding-right:30.5em;">
            <dt>
                <span id="caption_subject">Edit Content:</span>
            </dt>
        </div>
        <div>
            <textarea id="postContent" span contenteditable="true"
                style="border solid 1px black; min-width:600px; min-height:200px; background-color: aliceblue; margin:auto; display:block;"
                placeholder="Type Message" type="text">{{singleUserPost.content}}</textarea>
        </div>
        <div style="text-align:center; text-decoration:underline; padding-right:30.5em;">
            <dt>
                <span id="caption_subject">Your Response:</span>
            </dt>
        </div>
        <div>
            <textarea id="responseContent" span contenteditable="true"
                style="border solid 1px black; min-width:600px; min-height:200px; background-color: aliceblue; margin:auto; display:block;"
                placeholder="Type Message" type="text"></textarea>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center;">
        <div style=" margin-top:5px; margin-bottom:5px;">
            <button type="submit" class="btn btn-primary" id="newApprovedUserPostSubmit"
                data-id="{{singleUserPost.id}}">Post</button>
        </div>
        <div style=" margin-top:5px; margin-bottom:5px;">
            <button type="submit" id="deleteBtn" class="btn btn-danger" data-id="{{singleUserPost.id}}">Delete</button>
        </div>
    </div>
</div>

<script src="/js/moderator.js"></script>