<div>
    <div class="edit-subject-div">
        <dt>
            <span id="caption_subject">Edit Subject:</span>
        </dt>
    </div>
    <div class="post-title-div">
        <textarea id="postTitle" span contenteditable="true" placeholder="Topic Title" type="text">{{singleUserPost.title}}</textarea>
    </div>
    <div>
        <div class="edit-content-div">
            <dt>
                <span id="caption_subject">Edit Content:</span>
            </dt>
        </div>
        <div>
            <textarea id="postContent" span contenteditable="true" placeholder="Type Message" type="text">{{singleUserPost.content}}</textarea>
        </div>
        <div class="your-response-div">
            <dt>
                <span id="caption_subject">Your Response:</span>
            </dt>
        </div>
        <div>
            <textarea id="responseContent" span contenteditable="true" placeholder="Type Message" type="text"></textarea>
        </div>
    </div>
    <div class="post-delete-btn-div">
        <div class="post-btn-div">
            <button type="submit" class="btn btn-primary" id="newApprovedUserPostSubmit" data-id="{{singleUserPost.id}}">Post</button>
        </div>
        <div class="delete-btn-div">
            <button type="submit" id="deleteBtn" class="btn btn-danger" data-id="{{singleUserPost.id}}">Delete</button>
        </div>
    </div>
</div>

<script src="/js/moderator.js"></script>