/* variables */
:root {
    /* --main-background: #FFD2B3; */
    --main-background: #dddddd;
    --card: #93ECF5;
    --divider: #43A0A8;
    --white-text: #ffffff;
    --dark-text: #333333;
    --red-accent: #f12400;
    --shadow: #888888;
}

* {
    background-color: var(--main-background);
    box-sizing: border-box;
    color: var(--divider);
}

.custom-navbar {
    background-color: var(--divider);
    color: var(--white-text) !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-div {
    background-color: var(--divider);
    color: var(--white-text) !important;
}

.custom-navbar-btn {
    background-color: var(--divider) !important;
    box-shadow: .5px .5px .5px .5px var(--dark-text);
}

.custom-navbar-btn:active {
    background-color: var(--card) !important;
    box-shadow: none;
}

.custom-dropdown li {
    background-color: var(--divider);
}

.custom-jumbo-div {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.custom-jumbo {
    background-color: inherit !important;
    margin-bottom: 0 !important;
}

.custom-jumbo h1, .custom-jumbo p {
    /* background-color: var(--white-text); */
    color: var(--divider);
    padding-left: 10px;
}

.custom-jumbo p {
    padding-bottom: 3rem;
    border-bottom: 5px dotted var(--red-accent);
}

#jumbotron {
    font-family: 'Permanent Marker', cursive
} 

#home, #login {
    width: 20%;
}

/** Homepage */
.user-form {
    margin-bottom: 2rem;
}

.post-topic-title-div {
    text-align: center; 
    /* text-decoration: underline; */
    padding-right: 32em;
}

#caption_subject {
    color: var(--divider) !important;
    font-size: 1.25rem;
    /* padding-left: 1.25rem; */
}

.post-title-div {
    padding-right: 15.5em;
}

#postTitle, #postContent {
    /* border: solid 2px var(--divider); */
    margin: auto;
    display: block;
    border: none;
    border-radius: 5px;
    background-color: var(--white-text);
    color: var(--dark-text);
    box-shadow: 1px 1px 1px 1px var(--shadow);
    margin-bottom: 10px;
}

#postTitle::placeholder, #postContent::placeholder {
    color: var(--dark-text);
}

#postTitle { 
    width:350px; 
    min-width:350px; 
    height:30px; 
    min-height:30px; 
}

.post-message-div {
    text-align: center; 
    /* text-decoration: underline;  */
    padding-right :30.5em;
}

#postContent { 
    min-width: 600px;
    min-height: 200px; 
    margin-bottom: 1.5rem;
}

.submit-btn-div {
    text-align: center; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    padding-right: 29.5em;
}

.send-post-btn {
    background-color: var(--divider) !important;
    border: none !important;
    box-shadow: .5px .5px .5px .5px var(--shadow);
}

.send-post-btn:active {
    background-color: var(--card);
}

.approved-user-post {
    border: none !important;
    border-bottom: 2px solid var(--red-accent) !important;
    margin-top: 1rem;
}

.moderator-response {
    margin-bottom: 2rem !important;
}

.user-post-div {
    padding: 0 !important;
    margin: .15rem 1.25rem 1.25rem -1.25rem !important;
    border: none !important;
}

.sticky-btn {
    display: none;
    background-color: var(--divider) !important;
    font-size: large !important;
    position: fixed;
    bottom: 20px;
    left: 30px;
    cursor: pointer;
    padding: 10px;
    border-radius: 15px;
    color: var(--white-text);
    transition: .5s
}

.sticky-btn a {
    text-decoration: none;
}

.sticky-btn:hover {
    background-color: var(--card) !important;
    color: var(--white-text);
    text-decoration: none;
}

/** Login/Signup page */

/** Moderator Response Page */ 

/** Moderator Homepage */

.review-title-div {
    text-align: center; 
    text-decoration: underline; 
    font-size: 20px;
}

.post-item-div {
    text-align: center;
}

.edit-subject-div {
    text-align: center; 
    text-decoration: underline; 
    padding-right: 32em;
}

.edit-content-div {
    text-align: center; 
    text-decoration: underline; 
    padding-right: 30.5em;
}

.your-response-div {
    text-align: center; 
    text-decoration: underline; 
    padding-right: 30.5em;
}

#responseContent {
    border: solid 1px black; 
    min-width:600px; 
    min-height:200px; 
    background-color: aliceblue; 
    margin: auto; 
    display: block;
}

.post-delete-btn-div {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
}

.post-btn-div {
    margin-top: 5px; 
    margin-bottom: 5px;
}

.delete-btn-div {
    margin-top: 5px; 
    margin-bottom: 5px;
}

@media screen and (max-width: 900px) {
    .custom-dropdown li {
        padding-left: 10px;
    }

    .user-form {
        text-align: center;
        justify-content: center;
    }

    #postTitle {
        min-width: 0;
        width: 300px;
        display: inline-block;
        margin-left: auto;
        margin-right: auto;
    }

    #postContent {
        min-width: 300px;
    }

    .post-topic-title-div, .post-title-div, .post-message-div, .submit-btn-div {
        padding-right: 0;
        margin-bottom: 5px;
    }

}

@media screen and (max-width: 600px) {
    #textarea {

    }

    textarea {
        box-sizing: content-box;
        size: 100px;
    }
}